lessons/L10/terraform/network/.terraform
lessons/L10/terraform/network/.terraform/plugins
lessons/L10/terraform/network/.terraform/terraform.tfstate
lessons/L10/terraform/instances/.terraform
lessons/L10/terraform/instances/.terraform/plugins
lessons/L10/terraform/instances/.terraform/terraform.tfstate
